/* generics */

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* utilities */

.vs-button-orange {
    border-radius: 30px;
    background-color: #cd3d0f;
    border: none;
    font-weight: bold;
}

.vs-button-blue {
    border-radius: 30px;
    background-color: #2d64e6;
    border: none;
    font-weight: bold;
}

.vs-text-blue {
    color: #0474ce;
}

.vs-text-grey {
    color: #727272;
}

.vs-bg-darkgrey {
    background-color: #1f1f1f;
}


/* contents */

.vs-bg-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: 50%;
    margin-top: 120px;
}

.vs-bg-ittakestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: 50%;
}

.vs-padding-top {
    padding-top: 200px;
}

.vs-reg-trademark {
    font-size: 15px;
    vertical-align: super;
}